#textdomain wesnoth-units

#define DRAKE_SINGLE_FRAME_FIRE_ANIM DRAKE_NAME PRIMARY_ALT
    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        hits=yes

	{MISSILE_FRAME_FIRE_BREATH 8,-50 8,50 35,-20 35,40}

        start_time=-500
        [frame]
            image="units/drakes/{DRAKE_NAME}{PRIMARY_ALT}.png:400"
        [/frame]
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:100"
            sound=flame-big.ogg
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        hits=no

    [if]
        direction=n

        [missile_frame]
            halo=projectiles/fire-breath-n-[1,2,5].png:80
            halo_x,halo_y=8,-50
        [/missile_frame]
    [/if]
    [else]
        direction=s

        [missile_frame]
            halo=projectiles/fire-breath-s-[1,2,5].png:80
            halo_x,halo_y=8,50
        [/missile_frame]
    [/else]
    [else]
        direction=ne,nw

        [missile_frame]
            halo=projectiles/fire-breath-ne-[1,2,5].png:80
            halo_x,halo_y=35,-20
        [/missile_frame]
    [/else]
    [else]
        direction=se,sw

        [missile_frame]
            halo=projectiles/fire-breath-se-[1,2,5].png:80
            halo_x,halo_y=35,40
        [/missile_frame]
    [/else]	

        start_time=-500
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:400"
        [/frame]
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:100"
            sound=flame-big-miss.ogg
        [/frame]
    [/attack_anim]
#enddef
[unit_type]
    id=Drake Kensai LotI
    name= _ "Drake Kensai Prime"
    race=drake
    image="units/drakes/kensai.png"
    profile="portraits/drakes/kensai.png"
    hitpoints=91
    movement_type=drakefly
    movement=6
    experience=140
    level=4
    alignment=lawful
    advances_to=null
    cost=68
    usage=fighter
    #wmllint: local spelling Blademasters
    description= _ "The order of the Kensai Prime is the ultimate class of the Draken warriors. The legend and order of the Kensai is held by the great Drake Blademaster passed to the next great warrior only on death. The Kensai Prime's golden wings and huge talons mark him apart from normal Blademasters. Living almost double the length of normal drakes because of the power of the Kensai order the Prime has trained many tens of thousands of hours, and has fought in hundreds of battles. This truly is a warrior to be revered."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/drakes/kensai-defend-2.png" "units/drakes/kensai-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [attack]
        name=war talon
        description=_"war talon"
        type=blade
        range=melee
        damage=20
        number=3
        icon=attacks/scimitar.png
    [/attack]
    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=12
        number=3
    [/attack]

    {DRAKE_SINGLE_FRAME_FIRE_ANIM kensai (-fire-inhale)}

    [attack_anim]
        [filter_attack]
            name=war talon
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="units/drakes/kensai-melee-[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
{GENERIC_AMLA units/drakes/kensai.png units/drakes/kensai-melee-2.png units/drakes/kensai-melee-4.png units/drakes/kensai.png units/drakes/kensai-melee-2.png units/drakes/kensai-melee-4.png (
	[advancement]
			id=armour
			max_times=5
			description= _ "wearing a better armor (2-3% better resistances)"
			image=icons/steel_armor.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=resistance
				replace=false
				[resistance]
					blade=-3
					pierce=-3
					impact=-3
					cold=-2
					fire=-2
				[/resistance]
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
	[advancement]
            max_times=1
            always_display=yes
            id=whirlwind
            description= _ "able to perform a whirlwind attack (new attack)"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla=""
            [effect]
                apply_to=bonus_attack
                name=whirlwind-talon
                description= _ "whirlwind"
                icon=attacks/scimitar.png
                range=melee
                defense_weight=0
                damage=-30
                number=-30
                clone_anim=yes
                force_original_attack=scythe
                [specials]
                    {WEAPON_SPECIAL_WHIRLWIND}
                    {WEAPON_SPECIAL_MAGICAL}
                [/specials]
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
        [advancement]
            max_times=2
            always_display=yes
            id=whirlwind2
            description= _ "whirling better"
            image=attacks/scythe.png
            strict_amla=yes
            require_amla="whirlwind"
            [effect]
                apply_to=improve_bonus_attack
                name=whirlwind-talon
                increase_damage=15
            [/effect]
            {AMLA_DEFAULT_BONUSES}
        [/advancement]
	[advancement]
			max_times=5
			always_display=yes
			id=wartalon1
			description= _ "better with melee weapons"
			image=attacks/scimitar.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=attack
				name=war talon
				increase_damage=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
	[/advancement]
	[advancement]
			max_times=1
			always_display=yes
			id=wartalon1-speed
			description= _ "faster with melee weapons"
			image=attacks/scimitar.png
			strict_amla=yes
			require_amla="wartalon1"
			[effect]
				apply_to=attack
				name=war talon
				increase_attacks=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
	[/advancement]
	[advancement]
			max_times=5
			always_display=yes
			id=breathe
			description= _ "better breathing fire"
			image=attacks/fire-breath-drake.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=attack
				name=fire breath
				increase_damage=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
	[/advancement]
	[advancement]
			max_times=1
			always_display=yes
			id=breathe-speed
			description= _ "faster breathing fire"
			image=attacks/fire-breath-drake.png
			strict_amla=yes
			require_amla="breathe"
			[effect]
				apply_to=attack
				name=fire breath
				increase_damage=-1
				increase_attacks=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
	[/advancement]
	[advancement]
			id=armour
			max_times=1
			description= _ "wearing a better pierce armor"
			image=icons/steel_armor.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=resistance
				replace=false
				[resistance]
					pierce=-10
				[/resistance]
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
	[advancement]
			max_times=3
			always_display=yes
			id=movement
			description= _ "faster"
			image=icons/boots_elven.png
			strict_amla=yes
			require_amla=""
			[effect]
				apply_to=movement
				increase=1
			[/effect]
			{AMLA_DEFAULT_BONUSES}
		[/advancement]
) "Drake Kensai LotI"}

#undef DRAKE_SINGLE_FRAME_FIRE_ANIM
